@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* for bootstrap */

/* .navbar-brand {
    font-family: 'Faster One', cursive;
} */

/* custom  */
*{
    font-family: 'Roboto', sans serif;
}

.logo {
    height: 50px;
    width: 40px;
}

.bg-blue {
    background-color: #5158dd;
}

.bg-light-blue {
    /* background-color: #5f2570; */
    background-color: #464cc2;
}

.bg-makara {
    background-color: #655B50;
}

.bg-bokara-grey {
    background-color: #363635;
}

.bg-selective-yellow {
    background-color: #FFBA00;
}

.bg-lighty {
    background-color: #F4F3F0;
}


/* Buttons */

.btn-makara {
    color: #fff;
    background-color:#655B50;
    border-color: #655B50
 }
  
.btn-makara:hover {
    color: #fff;
    background-color: #5c5248;
    border-color:  #5c5248;
}
  
.btn-makara:focus,
.btn-makara.focus {
    color: #fff;
    background-color: #5c5248;
    border-color:  #5c5248;
    box-shadow: 0 0 0 0.2rem rgba(82, 161, 225, 0.5);
}

.btn-blue {
    color: #fff;
    background-color: #5158dd;
    border-color:  #5158dd;
 }
  
.btn-blue:hover {
    color: #fff;
    background-color: #464cc2;
    border-color:  #464cc2;
}
  
.btn-blue:focus,
.btn-blue.focus {
    color: #fff;
    background-color: #464cc2;
    border-color:  #464cc2;
    box-shadow: 0 0 0 0.2rem rgba(82, 161, 225, 0.5);
}

.btn-dark-green {
    color: #fff;
    background-color:#28a745;
    border-color:#28a745;
}
  
.btn-dark-green:hover {
    color: #fff;
    background-color: #22863a;
    border-color: #22863a;
}

.btn-dark-green:focus,
.btn-dark-green.focus {
    color: #fff;
    background-color:  #22863a;
    border-color:   #22863a;
    box-shadow: 0 0 0 0.2rem rgba(82, 161, 225, 0.5);
}

/* custom nav pills */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #363635;
}

/* custom card-header */
.card-header {
    font-family: 'Roboto Mono', monospace;
}

.card-name-date {
    font-family: 'Roboto Mono', monospace;
}

/* custom navbar-brand */
.navbar-brand {
    font-family: 'Roboto Mono', monospace;
}